body {
    margin: 0;
    background: -webkit-linear-gradient(right, #7c7471, #8b4875);
}


.bg {
    opacity: 0.5;
}

h1 {
    margin-top: 0;
    color: #393752;
}

h2 {
    color: #393752;
}

button {
    font-family: sans-serif;
    font-size: 15px;
    background: #ca2a9a;
    color: rgb(255, 218, 170);
    border-radius: 5px;
    padding: 12px 20px;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(182, 44, 44);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #14192b;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: rgb(123, 161, 184);
}

.active {
    background-color: #9ed4b9;
}